/*
WL CSS HELPER LIB
Author: Aritz Olabarrieta
Version: 1.0

A tiny LESS file with commonly used CSS instructions, which will
help you building the layout and structure of any project. It works
great in combination with Bootstrap.

NOTES and USE GUIDE

- All WL classes are prefixed with "wl-".
- There are 5 different sizes, which can be configured with
"@wl-base-" variables: xs, sm, md, lg and xl.
- Fluid boxes are prepared to fit in 100%, so if you want, for
example, a 3 column row, you can use the wl-box-33 class, which is
a 33.33% div with display set to inline-block.

{SIZES} = xs, sm, md, lg OR xl
{BOXSIZES} = 75, 60, 50, 40, 33, 25, 20, 16, 15, 14, 12, 11, 10, 5

CLEARFIXES:          wl-cfix-{{SIZES}}
DISPLAY:             wl-ds-{block, inline, inline-block, none}
FLOATS:              wl-fl-{none, left, right}
POSITION:            wl-ps-{absolute, fixed, relative, static}
MARGINS:             wl-ma-auto, wl-ma-{all, bottom, left, right, top}-{no, {SIZES}}
PADDINGS:            wl-pa-{all, bottom, left, right, top}-{SIZES}
FLUID BOXES:         wl-box-{{BOXSIZES}}
FULLWIDTH:           wl-fullwidth
*/
[class*="wl-cfix"] {
  clear:both;
  display:block;
  height:0px;
}
.wl-cfix-xs { margin:3.3333333333333px 0px; }
.wl-cfix-sm { margin:5px 0px; }
.wl-cfix-md { margin:10px 0px; }
.wl-cfix-lg { margin:20px 0px; }
.wl-cfix-xl { margin:30px 0px; }

.wl-fullwidth { width:100%; }

.wl-ds-inline { display:inline; }
.wl-ds-inline-block { display:inline-block; }
.wl-ds-block { display:block; }
.wl-ds-none { display:none; }

.wl-fl-none { float:none; }
.wl-fl-left { float:left; }
.wl-fl-right { float:right; }

.wl-ps-static { position:static; }
.wl-ps-fixed { position:fixed; }
.wl-ps-absolute { position:absolute; }
.wl-ps-relative { position:relative; }

.wl-ma-auto { margin:auto; }

.wl-ma-all-no { margin:0px; }
.wl-ma-all-xs { margin:3.3333333333333px; }
.wl-ma-all-sm { margin:5px; }
.wl-ma-all-md { margin:10px; }
.wl-ma-all-lg { margin:20px; }
.wl-ma-all-xl { margin:30px; }

.wl-ma-top-no { margin-top:0px; }
.wl-ma-top-xs { margin-top:3.3333333333333px; }
.wl-ma-top-sm { margin-top:5px; }
.wl-ma-top-md { margin-top:10px; }
.wl-ma-top-lg { margin-top:20px; }
.wl-ma-top-xl { margin-top:30px; }

.wl-ma-bottom-no { margin-bottom:0px; }
.wl-ma-bottom-xs { margin-bottom:3.3333333333333px; }
.wl-ma-bottom-sm { margin-bottom:5px; }
.wl-ma-bottom-md { margin-bottom:10px; }
.wl-ma-bottom-lg { margin-bottom:20px; }
.wl-ma-bottom-xl { margin-bottom:30px; }

.wl-ma-left-no { margin-left:0px; }
.wl-ma-left-xs { margin-left:3.3333333333333px; }
.wl-ma-left-sm { margin-left:5px; }
.wl-ma-left-md { margin-left:10px; }
.wl-ma-left-lg { margin-left:20px; }
.wl-ma-left-xl { margin-left:30px; }

.wl-ma-right-no { margin-right:0px; }
.wl-ma-right-xs { margin-right:3.3333333333333px; }
.wl-ma-right-sm { margin-right:5px; }
.wl-ma-right-md { margin-right:10px; }
.wl-ma-right-lg { margin-right:20px; }
.wl-ma-right-xl { margin-right:30px; }

.wl-pa-all-no { padding:0px; }
.wl-pa-all-xs { padding:3.3333333333333px; }
.wl-pa-all-sm { padding:5px; }
.wl-pa-all-md { padding:10px; }
.wl-pa-all-lg { padding:20px; }
.wl-pa-all-xl { padding:30px; }

.wl-pa-top-no { padding-top:0px; }
.wl-pa-top-xs { padding-top:3.3333333333333px; }
.wl-pa-top-sm { padding-top:5px; }
.wl-pa-top-md { padding-top:10px; }
.wl-pa-top-lg { padding-top:20px; }
.wl-pa-top-xl { padding-top:30px; }

.wl-pa-bottom-no { padding-bottom:0px; }
.wl-pa-bottom-xs { padding-bottom:3.3333333333333px; }
.wl-pa-bottom-sm { padding-bottom:5px; }
.wl-pa-bottom-md { padding-bottom:10px; }
.wl-pa-bottom-lg { padding-bottom:20px; }
.wl-pa-bottom-xl { padding-bottom:30px; }

.wl-pa-left-no { padding-left:0px; }
.wl-pa-left-xs { padding-left:3.3333333333333px; }
.wl-pa-left-sm { padding-left:5px; }
.wl-pa-left-md { padding-left:10px; }
.wl-pa-left-lg { padding-left:20px; }
.wl-pa-left-xl { padding-left:30px; }

.wl-pa-right-no { padding-right:0px; }
.wl-pa-right-xs { padding-right:3.3333333333333px; }
.wl-pa-right-sm { padding-right:5px; }
.wl-pa-right-md { padding-right:10px; }
.wl-pa-right-lg { padding-right:20px; }
.wl-pa-right-xl { padding-right:30px; }

[class*="wl-box"] {
  display:inline-block;
  overflow:hidden;
}
.wl-box-75 { width:75%; }
.wl-box-60 { width:60%; }
.wl-box-50 { width:50%; }
.wl-box-40 { width:40%; }
.wl-box-33 { width:33.33%; }
.wl-box-25 { width:25%; }
.wl-box-20 { width:20%; }
.wl-box-16 { width:16.66%; }
.wl-box-15 { width:15%; }
.wl-box-14 { width:14.285%; }
.wl-box-12 { width:12.5%; }
.wl-box-11 { width:11.11%; }
.wl-box-10 { width:10%; }
.wl-box-8 { width:8.333%; }
.wl-box-5 { width:5%; }
